# Group work - Assessment 2

In this assignment, we will focus on salary prediction. The data set for this assignment includes information on job descriptions and salaries. Use this data set to see if you can predict the salary of a job posting (i.e., the `Salary` column in the data set) based on the job description. This is important, because this model can make a salary recommendation as soon as a job description is entered into a system.

## Description of Variables

The description of variables are provided in "Jobs - Data Dictionary.docx"

## Goal

Use the **jobs_alldata.csv** data set and build models to predict **salary**.

**Be careful: this is a REGRESSION task**

## Submission:

Please save and submit this Jupyter notebook file. The correctness of the code matters for your grade. **Readability and organization of your code is also important.** You may lose points for submitting unreadable/undecipherable code. Therefore, use markdown cells to create sections, and use comments where necessary.

## Recommended roles for group members:

**Section 1:** to be completed by both group members

**Section 2:** first three models to be completed by the first group member and checked by the second; last two models to be completed by the second group members and checked by the first group member.

**Discussion:** to be completed by both group members

**Important notes:**
- Both group members will get the same grade. Therefore, you should check the work of your group member. If they make a mistake, you will be responsible for that mistake too.
- Both group members must put in their fair share of effort. Otherwise, those who don't contribute to the assignment will not receive any grade.

# Section 1: (8 points in total)

## Data Prep (6 points)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_jobs = pd.read_csv('jobs_alldata.csv')
df_jobs

,Salary,Job Description,Location,Min_years_exp,Technical,Comm,Travel
0,67206,Civil Service Title: Regional Director Mental ...,Remote,5,2,3,0
1,88313,The New York City Comptrollerâ€™s Office Burea...,Remote,5,2,4,10-15
2,81315,With minimal supervision from the Deputy Commi...,East campus,5,3,3,5-10
3,76426,OPEN TO CURRENT BUSINESS PROMOTION COORDINATOR...,East campus,1,1,3,0
4,55675,Only candidates who are permanent in the Princ...,Southeast campus,1,1,3,5-10
...,...,...,...,...,...,...,...
2408,79812,"Section 8, also known as the Housing Choice Vo...",Southeast campus,5,2,1,0
2409,108122,The NYC Department of Environmental Protection...,West campus,5,1,1,0
2410,55711,The NYC Department of Environmental Protection...,HQ,5,5,4,0
2411,64420,"Under general supervision, with some latitude ...",East campus,4,1,5,0
2412,34438,The New York City Department of Correction (DO...,HQ,5,3,5,0

In [3]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(df_jobs, test_size=0.3)

## Separating the Target Variable

In [4]:
train_y = train_set['Salary']
test_y = test_set['Salary']

train_inputs = train_set.drop(['Salary'], axis=1)
test_inputs = test_set.drop(['Salary'], axis=1)

### Separating the Job Description column to perform Text Mining for Train Dataset

In [26]:
Train_Text_inputs=train_inputs['Job Description']
Train_Text_inputs

2020    The NYC Department of Environmental Protection...
901     Your Team:  The Division Tenant Resources HPD'...
2168    The candidate will be responsible for the dire...
39      The NYC Department of Environmental Protection...
1860    DoITT provides for the sustained, efficient an...
                              ...
1776    YOU MUST INDICATE IN YOUR COVER LETTER AND RES...
1833    The NYC Department of Environmental Protection...
510     The Bureau of Law & Adjustment is responsible ...
553     DoITT provides for the sustained, efficient an...
106     Civil Service Title:  Senior Photographer\t\t\...
Name: Job Description, Length: 1689, dtype: object

In [6]:
Train_NonText_inputs=train_inputs.drop('Job Description',axis=1)
Train_NonText_inputs

         Location  Min_years_exp  Technical  Comm Travel
2020           HQ              5          2     3      0
901        Remote              1          1     4      0
2168       Remote              5          3     5      0
39         Remote              1          1     4  10-15
1860           HQ              5          4     2      0
...           ...            ...        ...   ...    ...
1776           HQ              5          2     1   5-10
1833  East campus              2          3     2      0
510            HQ              1          2     4      0
553            HQ              1          1     4      0
106            HQ              1          3     4      0

[1689 rows x 5 columns]

### Separating the Job Description column to perform Text Mining for Test Dataset

In [7]:
Test_Text_inputs=test_inputs['Job Description']
Test_Text_inputs

1908    The NYC Department of Environmental Protection...
1794    The New York City Housing Authority (NYCHA) is...
1688    The NYC Department of Design and Construction,...
2048    The Comptroller's Bureau of Contract Administr...
2105    The NYC Department of Homeless Services (DHS) ...
                              ...
269     The Financial Information Services Agency and ...
943     Under direction, with latitude for the exercis...
1256    The mission of the New York City Police Depart...
808     The New York City Department of Investigation ...
995     In the Division of Bridges, assists the Truck ...
Name: Job Description, Length: 724, dtype: object

In [8]:
Test_NonText_inputs=test_inputs.drop('Job Description',axis=1)
Test_NonText_inputs

         Location  Min_years_exp  Technical  Comm Travel
1908  East campus              5          5     2      0
1794       Remote              2          5     3      0
1688  West campus              5          5     3      0
2048  West campus              2          1     5      0
2105           HQ              5          2     5  10-15
...           ...            ...        ...   ...    ...
269   East campus              1          3     3      0
943        Remote              4          1     3      0
1256  West campus              1          2     3      0
808   East campus              5          1     4   5-10
995            HQ              5          2     3    1-5

[724 rows x 5 columns]

## Feature Engineering (1 points)

Create one NEW feature from existing data. You either transform a single variable, or create a new variable from existing ones. 

Grading: 
- 0.5 points for creating the new feature correctly
- 0.5 points for the justification of the new feature (i.e., why did you create this new feature)

### Creating a New binary column called travel hours : If travel hours value is greater than 0, corresponding value will be 1 else it will be 0 (this column will help to determine the effect of travel hours on salary)

In [9]:
def new_col(df):
    #Create a copy so that we don't overwrite the existing dataframe
    df1 = df.copy()
    
    df1['travel_hours'] = np.where(df1['Travel'] == '0', 0, 1)
    
    return df1[['travel_hours']]

In [10]:
new_col(Train_NonText_inputs)

      travel_hours
2020             0
901              0
2168             0
39               1
1860             0
...            ...
1776             1
1833             0
510              0
553              0
106              0

[1689 rows x 1 columns]

In [11]:
Train_NonText_inputs

         Location  Min_years_exp  Technical  Comm Travel
2020           HQ              5          2     3      0
901        Remote              1          1     4      0
2168       Remote              5          3     5      0
39         Remote              1          1     4  10-15
1860           HQ              5          4     2      0
...           ...            ...        ...   ...    ...
1776           HQ              5          2     1   5-10
1833  East campus              2          3     2      0
510            HQ              1          2     4      0
553            HQ              1          1     4      0
106            HQ              1          3     4      0

[1689 rows x 5 columns]

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import FunctionTransformer

##  Identify the numerical and categorical columns

In [13]:
Train_NonText_inputs.dtypes

Location         object
Min_years_exp     int64
Technical         int64
Comm              int64
Travel           object
dtype: object

In [14]:
numeric_columns=['Min_years_exp','Technical','Comm']

In [15]:
categorical_columns=['Location']

In [16]:
feat_eng_columns=['Travel']

## Pipeline

In [17]:
numeric_transformer = Pipeline(steps=[
                ('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler())])

In [18]:
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='unknown')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [19]:
my_new_column = Pipeline(steps=[('my_new_column', FunctionTransformer(new_col))])

In [20]:
preprocessor = ColumnTransformer([
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns),
        ('trans', my_new_column, feat_eng_columns)],
        remainder='passthrough')

### Transform: fit_transform() for TRAIN_NonText

In [21]:
train_x_nontext = preprocessor.fit_transform(Train_NonText_inputs)

train_x_nontext

array([[ 1.11055139, -0.20605048, -0.12733148, ...,  0.        ,
         0.        ,  0.        ],
       [-1.11582404, -1.03863245,  0.99278765, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.11055139,  0.62653149,  2.11290678, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-1.11582404, -0.20605048,  0.99278765, ...,  0.        ,
         0.        ,  0.        ],
       [-1.11582404, -1.03863245,  0.99278765, ...,  0.        ,
         0.        ,  0.        ],
       [-1.11582404,  0.62653149,  0.99278765, ...,  0.        ,
         0.        ,  0.        ]])

In [22]:
train_x_nontext.shape

(1689, 9)

### Tranform: transform() for TEST_NonText

In [23]:
test_x_nontext = preprocessor.transform(Test_NonText_inputs)

test_x_nontext

array([[ 1.11055139,  2.29169542, -1.24745061, ...,  0.        ,
         0.        ,  0.        ],
       [-0.55923018,  2.29169542, -0.12733148, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.11055139,  2.29169542, -0.12733148, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-1.11582404, -0.20605048, -0.12733148, ...,  0.        ,
         1.        ,  0.        ],
       [ 1.11055139, -1.03863245,  0.99278765, ...,  0.        ,
         0.        ,  1.        ],
       [ 1.11055139, -0.20605048, -0.12733148, ...,  0.        ,
         0.        ,  1.        ]])

In [24]:
test_x_nontext.shape

(724, 9)

## Sklearn: Text preparation

We need to prepare the text data. We'll use sklearn's CountVectorizer, which counts the frequency of words that appear in your entire data set.<br>
CountVectorizer: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

If you don't use the CountVectorizer, you have to do all the text prep on your own:<br>
1- Convert to lowercase<br>
2- Remove numbers (if needed)<br>
3- Remove punctuation<br>
4- Remove whitespace<br>
5- Tokenize<br>
6- Stemming<br>
etc.

Note that, CountVectorizer doesn't do stemming, or lemmatizing. You may want to use NLTK for that (import NLTK)

In [27]:
#TfidfVectorizer includes pre-processing, tokenization, filtering stop words
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(stop_words='english')

train_x_tr = tfidf_vect.fit_transform(Train_Text_inputs)

In [29]:
test_x_tr = tfidf_vect.transform(Test_Text_inputs)

In [30]:
train_x_tr.shape, test_x_tr.shape

((1689, 9832), (724, 9832))

In [31]:
train_x_tr.toarray()

array([[0.        , 0.02218366, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.04383152, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

## Latent Semantic Analysis (Singular Value Decomposition)

In [33]:
from sklearn.decomposition import TruncatedSVD

In [79]:
svd = TruncatedSVD(n_components=1000, n_iter=10)

## Fit Transform for Test Data

In [80]:
train_x_lsa = svd.fit_transform(train_x_tr)

In [81]:
train_x_lsa.shape

(1689, 1000)

In [305]:
svd.explained_variance_.sum() ## Cummultive Variance is ~93%

0.9306845349301066

## Transforming the Test data

In [84]:
test_x_lsa = svd.transform(test_x_tr)

In [95]:
train_x=np.hstack((train_x_nontext,train_x_lsa))
train_x.shape

(1689, 1009)

In [96]:
test_x=np.hstack((test_x_nontext,test_x_lsa))
test_x.shape

(724, 1009)

## Find the Baseline (1 point)

In [97]:
from sklearn.metrics import mean_squared_error

In [100]:
mean_value = np.mean(train_y)

mean_value

78355.22498519834

In [101]:
baseline_pred = np.repeat(mean_value, len(test_y))

baseline_pred

array([78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852,
       78355.2249852, 78355.2249852, 78355.2249852, 78355.2249852])

In [102]:
baseline_mse = mean_squared_error(test_y, baseline_pred)

baseline_rmse = np.sqrt(baseline_mse)

print('Baseline RMSE: {}' .format(baseline_rmse))

Baseline RMSE: 28277.15139189302

# Section 2: (7 points in total)

Build the following models:

## Decision Tree: (1 point)

In [299]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(min_samples_leaf=10) 

tree_reg.fit(train_x, train_y)

DecisionTreeRegressor(min_samples_leaf=10)

In [300]:
train_pred = tree_reg.predict(train_x)

train_mse = mean_squared_error(train_y, train_pred)

train_rmse = np.sqrt(train_mse)

print('Train RMSE: {}' .format(train_rmse))

Train RMSE: 15089.724146281635

In [301]:
test_pred = tree_reg.predict(test_x)

test_mse = mean_squared_error(test_y, test_pred)

test_rmse = np.sqrt(test_mse)

print('Test RMSE: {}' .format(test_rmse))

Test RMSE: 23821.13475836929

## Reducing Overfitting

In [306]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor(min_samples_leaf=40) 

tree_reg.fit(train_x, train_y)

DecisionTreeRegressor(min_samples_leaf=40)

In [307]:
train_pred = tree_reg.predict(train_x)

train_mse = mean_squared_error(train_y, train_pred)

train_rmse = np.sqrt(train_mse)

print('Train RMSE: {}' .format(train_rmse))

Train RMSE: 22899.3698928387

In [304]:
test_pred = tree_reg.predict(test_x)

test_mse = mean_squared_error(test_y, test_pred)

test_rmse = np.sqrt(test_mse)

print('Test RMSE: {}' .format(test_rmse))

Test RMSE: 24525.87766260705

## Voting regressor (2 points):

The voting regressor should have at least 3 individual models

In [320]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import SGDRegressor 
from sklearn.svm import SVR 
from sklearn.ensemble import VotingRegressor


dtree_reg = DecisionTreeRegressor(max_depth=20)
svm_reg = SVR(kernel="rbf", C=10, epsilon=0.01, gamma='scale') 
sgd_reg = SGDRegressor(max_iter=10000, tol=1e-3)

voting_reg = VotingRegressor(
            estimators=[('dt', dtree_reg), 
                        ('svr', svm_reg), 
                        ('sgd', sgd_reg)])

voting_reg.fit(train_x, train_y)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:1225: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "

VotingRegressor(estimators=[('dt', DecisionTreeRegressor(max_depth=20)),
                            ('svr', SVR(C=10, epsilon=0.01)),
                            ('sgd', SGDRegressor(max_iter=10000))])

In [321]:
train_pred = voting_reg.predict(train_x)

train_mse = mean_squared_error(train_y, train_pred)

train_rmse = np.sqrt(train_mse)

print('Train RMSE: {}' .format(train_rmse))

Train RMSE: 12101.443643304696

In [322]:
test_pred = voting_reg.predict(test_x)

test_mse = mean_squared_error(test_y, test_pred)

test_rmse = np.sqrt(test_mse)

print('Test RMSE: {}' .format(test_rmse))

Test RMSE: 18492.107631021525

## Reducing Overfitting

In [323]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import SGDRegressor 
from sklearn.svm import SVR 
from sklearn.ensemble import VotingRegressor


dtree_reg = DecisionTreeRegressor(max_depth=3)
svm_reg = SVR(kernel="rbf", C=10, epsilon=0.01, gamma='scale') 
sgd_reg = SGDRegressor(max_iter=10000, tol=1e-3)

voting_reg = VotingRegressor(
            estimators=[('dt', dtree_reg), 
                        ('svr', svm_reg), 
                        ('sgd', sgd_reg)])

voting_reg.fit(train_x, train_y)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:1225: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "

VotingRegressor(estimators=[('dt', DecisionTreeRegressor(max_depth=3)),
                            ('svr', SVR(C=10, epsilon=0.01)),
                            ('sgd', SGDRegressor(max_iter=10000))])

In [324]:
train_pred = voting_reg.predict(train_x)

train_mse = mean_squared_error(train_y, train_pred)

train_rmse = np.sqrt(train_mse)

print('Train RMSE: {}' .format(train_rmse))

Train RMSE: 20335.12682957138

In [325]:
test_pred = voting_reg.predict(test_x)

test_mse = mean_squared_error(test_y, test_pred)

test_rmse = np.sqrt(test_mse)

print('Test RMSE: {}' .format(test_rmse))

Test RMSE: 22214.08183730077

## A Boosting model: (1 point)

Build either an Adaboost or a GradientBoost model

In [352]:
from sklearn.ensemble import AdaBoostRegressor 

#Create Adapative Boosting with Decision Stumps (depth=1)
ada_reg = AdaBoostRegressor( 
            DecisionTreeRegressor(max_depth=1), n_estimators=500, 
            learning_rate=0.1) 

ada_reg.fit(train_x, train_y)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=1),
                  learning_rate=0.1, n_estimators=500)

In [353]:
train_pred = ada_reg.predict(train_x)

train_mse = mean_squared_error(train_y, train_pred)

train_rmse = np.sqrt(train_mse)

print('Train RMSE: {}' .format(train_rmse))

Train RMSE: 29926.098016920172

In [354]:
test_pred = ada_reg.predict(test_x)

test_mse = mean_squared_error(test_y, test_pred)

test_rmse = np.sqrt(test_mse)

print('Test RMSE: {}' .format(test_rmse))

Test RMSE: 29818.44963353811

## Neural network: (1 point)

In [331]:
from sklearn.neural_network import MLPRegressor

#Default settings create 1 hidden layer with 100 neurons
mlp_reg = MLPRegressor(hidden_layer_sizes=(700,),max_iter=1000)

mlp_reg.fit(train_x, train_y)

C:\Anaconda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(hidden_layer_sizes=(700,), max_iter=1000)

In [332]:
#Train RMSE
train_pred = mlp_reg.predict(train_x)

train_mse = mean_squared_error(train_y, train_pred)

train_rmse = np.sqrt(train_mse)

print('Train RMSE: {}' .format(train_rmse))

Train RMSE: 20018.448079172707

In [333]:
test_pred = mlp_reg.predict(test_x)

test_mse = mean_squared_error(test_y, test_pred)

test_rmse = np.sqrt(test_mse)

print('Test RMSE: {}' .format(test_rmse))

Test RMSE: 22588.957256599722

## Grid search (2 points)

Perform either a full or randomized grid search on any model you want. There has to be at least two parameters for the search.

In [334]:
from sklearn.model_selection import RandomizedSearchCV

param_grid = [
    {'min_samples_leaf': np.arange(10, 30), 
     'max_depth': np.arange(10,30)}
  ]

tree_reg = DecisionTreeRegressor()

grid_search = RandomizedSearchCV(tree_reg, param_grid, cv=5, n_iter=50,
                           scoring='neg_mean_squared_error', verbose=1,
                           return_train_score=True)

grid_search.fit(train_x, train_y)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

RandomizedSearchCV(cv=5, estimator=DecisionTreeRegressor(), n_iter=50,
                   param_distributions=[{'max_depth': array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29]),
                                         'min_samples_leaf': array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29])}],
                   return_train_score=True, scoring='neg_mean_squared_error',
                   verbose=1)

In [335]:
cvres = grid_search.cv_results_

for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

27382.859554464056 {'min_samples_leaf': 25, 'max_depth': 25}
28045.79991986089 {'min_samples_leaf': 16, 'max_depth': 14}
27368.96111708388 {'min_samples_leaf': 10, 'max_depth': 28}
27419.755081068633 {'min_samples_leaf': 21, 'max_depth': 26}
27537.566746987155 {'min_samples_leaf': 17, 'max_depth': 12}
27920.23995978661 {'min_samples_leaf': 15, 'max_depth': 18}
27558.394264508377 {'min_samples_leaf': 17, 'max_depth': 13}
28045.79991986089 {'min_samples_leaf': 16, 'max_depth': 22}
27747.010739308625 {'min_samples_leaf': 23, 'max_depth': 11}
27375.432312091783 {'min_samples_leaf': 20, 'max_depth': 25}
27416.032759041107 {'min_samples_leaf': 24, 'max_depth': 12}
28209.279438748028 {'min_samples_leaf': 13, 'max_depth': 22}
27949.1665215394 {'min_samples_leaf': 27, 'max_depth': 12}
27744.669762414193 {'min_samples_leaf': 23, 'max_depth': 16}
28348.34108748264 {'min_samples_leaf': 11, 'max_depth': 22}
27392.349423524443 {'min_samples_leaf': 10, 'max_depth': 26}
27955.783303177373 {'min_samples_leaf': 27, 'max_depth': 11}
27936.625429984 {'min_samples_leaf': 27, 'max_depth': 23}
27744.669762414193 {'min_samples_leaf': 23, 'max_depth': 17}
27917.866570253922 {'min_samples_leaf': 28, 'max_depth': 20}
27920.23995978661 {'min_samples_leaf': 15, 'max_depth': 21}
27150.339705647 {'min_samples_leaf': 18, 'max_depth': 29}
28237.312129721344 {'min_samples_leaf': 13, 'max_depth': 13}
27024.407781817583 {'min_samples_leaf': 19, 'max_depth': 16}
27631.62008424973 {'min_samples_leaf': 14, 'max_depth': 18}
27744.669762414193 {'min_samples_leaf': 23, 'max_depth': 22}
27943.206854532513 {'min_samples_leaf': 15, 'max_depth': 13}
27094.33898459178 {'min_samples_leaf': 19, 'max_depth': 10}
27917.866570253922 {'min_samples_leaf': 28, 'max_depth': 29}
27375.432312091783 {'min_samples_leaf': 20, 'max_depth': 22}
27744.669762414193 {'min_samples_leaf': 23, 'max_depth': 29}
28351.033483442774 {'min_samples_leaf': 11, 'max_depth': 24}
27462.412855081722 {'min_samples_leaf': 10, 'max_depth': 27}
27730.87717521642 {'min_samples_leaf': 26, 'max_depth': 23}
28209.279438748028 {'min_samples_leaf': 13, 'max_depth': 23}
27024.407781817583 {'min_samples_leaf': 19, 'max_depth': 26}
27920.23995978661 {'min_samples_leaf': 15, 'max_depth': 20}
27735.786037324473 {'min_samples_leaf': 26, 'max_depth': 10}
28055.875902943753 {'min_samples_leaf': 12, 'max_depth': 24}
27917.866570253922 {'min_samples_leaf': 28, 'max_depth': 23}
28045.79991986089 {'min_samples_leaf': 16, 'max_depth': 18}
28045.79991986089 {'min_samples_leaf': 16, 'max_depth': 16}
28138.693758048485 {'min_samples_leaf': 12, 'max_depth': 11}
27374.611049536972 {'min_samples_leaf': 25, 'max_depth': 12}
27108.66445727109 {'min_samples_leaf': 18, 'max_depth': 10}
27399.942954683043 {'min_samples_leaf': 10, 'max_depth': 19}
27744.669762414193 {'min_samples_leaf': 23, 'max_depth': 14}
27364.168054752663 {'min_samples_leaf': 20, 'max_depth': 10}
27024.407781817583 {'min_samples_leaf': 19, 'max_depth': 15}
27936.625429984 {'min_samples_leaf': 27, 'max_depth': 17}

In [336]:
grid_search.best_params_

{'min_samples_leaf': 19, 'max_depth': 16}

In [337]:
grid_search.best_estimator_

DecisionTreeRegressor(max_depth=16, min_samples_leaf=19)

In [338]:
train_pred = grid_search.best_estimator_.predict(train_x)

train_mse = mean_squared_error(train_y, train_pred)

train_rmse = np.sqrt(train_mse)

print('Train RMSE: {}' .format(train_rmse))

Train RMSE: 18016.04347551832

In [339]:
test_pred = grid_search.best_estimator_.predict(test_x)

test_mse = mean_squared_error(test_y, test_pred)

test_rmse = np.sqrt(test_mse)

print('Test RMSE: {}' .format(test_rmse))

Test RMSE: 25218.742943882036

# Discussion (5 points in total)

## List the train and test values of each model you built (2 points)

For Decision Tree : Train RMSE is 15089.72 and Test RMSE is 23821.13
For Decision Tree(Controlling Overfitting) : Train RMSE : 22899.36 and Test RMSE : 24525.87

For Voting Regressor : Train RMSE is 12101.44 and Test RMSE is 18492.10
For Voting Regressor(Controlling Overfitting) : Train RMSE : 20335.12 and Test RMSE : 22214.08

For Boosting Model (Adaboost): Train RMSE is 29926.09 and Test RMSE is 29818.44

For Neural Network : Train RMSE is 20018.44 and Test RMSE is 22588.95

For Grid Search : Train RMSE is 18016.04 and Test RMSE is 25218.74

## Which model performs the best and why? (0.5 points) 
## How does it compare to baseline? (0.5 points)

Hint: The best model is the one that has the highest TEST score (regardless of any of the training values). If you select your model based on TRAIN values, you will lose points.

Voting Regressor model performs the best because it has least Test RMSE of 18492.10

It is better than the baseline value of 28277.15 since it is lesser than the baseline value

Baseline RMSE is 9785.05 higher than Test RMSE of Voting Regressor

## Is there any evidence of overfitting in the best model, why or why not? If there is, what did you do about it? (1 point)

There was evidence of overfitting in Voting Regressor because the Train RMSE was 12101.44 and Test RMSE was 18492.10. Test RMSE was 6390.56 higher than Train RMSE. We reduced the max depth(Decision Tree Regressor)to 3 from 20 to reduce overfitting and got the values as follows:

Train RMSE : 20335.12 and Test RMSE : 22214.08 (This controlled the overfitting but incrased the Test RMSE by a bit)

## Is there any overfitting in the other models (besides the best model), why or why not? If there is, what did you do about it? (1 point)

There was overfitting in Decision Tree because the Train RMSE was 15089.72 and Test RMSE was 23821.13. Test RMSE was 8732 higher than Train RMSE.
To reduce overfitting, we increased the min samples leaf from 10 to 40 and controlled to overfitting by getting following models :

Train RMSE : 22899.36 and Test RMSE : 24525.87 (This controlled the overfitting but increased the Test RMSE by a bit)